<div class="container">
    <h1 class="text-center my-4">URLs <%= cookies.encrypted["timezone"] %></h1>

    <table class="table w-100">
        <colgroup>
            <col width="0%" />
            <col width="0%" />
            <col width="100%" />
        </colgroup>
        <thead>
            <tr>
                <th scope="col">Zeit</th>
                <th scope="col">Domain</th>
                <th scope="col">Volle URL</th>
            </tr>
        </thead>
        <tbody>
            <% last_date = nil %>
            <% @visits.each do |v| %>
                <% last_date ||= v.created_at %>

                <tr class="<%= "divider" unless last_date.to_date === v.created_at.to_date %>">
                    <% time = convert_time v.created_at %>
                    <th scope="row" class="short-col">
                        <% if time.today? %>
                            Heute um <%= time.strftime("%H:%M") %>
                        <% else %>
                            <%= time.strftime("%d %B %Y - %H:%M") %>
                        <% end %>
                    </th>
                    <td class="short-col"><%= link_to domain(v.url), v.url %></td>
                    <td class="long-col"><%= link_to v.url, class: "d-block text-truncate" %></td>
                </tr>

                <% last_date = v.created_at %>
            <% end %>
        </tbody>
    </table>
</div>