<%= render partial: "error_toast" %>
<%= render partial: "navbar" %>

<div class="container">
    <div class="d-flex justify-content-center w-100">
        <% if is_admin? %>
            <div style="width: 100%; max-width: 800px">
                <div class="d-flex justify-content-center gap-3 mt-3">
                    <div style="width: 80%">
                        <%= form_with model: @consumer, class: "form" do |form| %>
                            <div class="d-flex gap-3">
                                <%= form.text_field :nickname, class: "form-control", data: {
                                    controller: "tippy",
                                    tippy_content: "Change clients' nickname"
                                } %>
                                <%= form.submit value: "Save", class: "btn btn-success", style: "width: 100px" %>
                            </div>
                        <% end %>
                    </div>
                    <%= link_to "Lock", consumer_lock_path, class: "btn btn-secondary", style: "width: 100px", data: {
                        turbo_method: :post
                    } %>
                    <%= link_to "Delete", consumer_delete_path, class: "btn btn-danger", style: "width: 100px", data: {
                        turbo_method: :delete
                    } %>
                </div>
            </div>
        <% end %>
    </div>

    <div id="plugins" class="my-4 text-center">
        <h1 data-controller="tippy" data-tippy-content="Automatic actions that can be enabled/disabled">Plugins</h1>
        <% for y in 0..(@plugins.length / 4.0).round do %>
            <div class="row">
                <% for x in 0..3 do %>
                    <% break if y * 4 + x > @plugins.length - 1 %>
                    <% plugin = @plugins[y * 4 + x] %>

                    <div class="col-md-3">
                        <%= turbo_frame_tag "action-#{plugin.id}", src: action_frame_path(@consumer, plugin) %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>

    <hr>

    <div id="dispatched" class="my-4 text-center">
        <h1 data-controller="tippy" data-tippy-content="Actions dispatched to the client from here">Dispatched actions</h1>
        <% for y in 0..(@dispatched.length / 4.0).round do %>
            <div class="row">
                <% for x in 0..3 do %>
                    <% break if y * 4 + x > @dispatched.length - 1 %>
                    <% dispatched = @dispatched[y * 4 + x] %>

                    <div class="col-md-3">
                        <%= turbo_frame_tag "action-#{dispatched.id}", src: action_frame_path(@consumer, dispatched) %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>