<turbo-frame id="prompt">
    <div class="card" data-controller="<%= reset %>">
        <h4>Prompts senden</h4>
        <%= form_with do |form| %>
            <%= form.text_field :text, placeholder: "Nachricht", class: "form-control" %>
            <br>
            <% options = [
                ["Alert", "alert"],
                ["Confirm", "confirm"],
                ["Prompt", "prompt"]
            ] %>
            <%= form.select :prompt_type, options, {}, { class: "form-select" } %>
            <br>
            <%= form.submit value: submit, class: "btn btn-primary btn-lg", "data-origin": "Senden", "data-reset-target": "text" %>
        <% end %>
    </div>
</turbo-frame>